<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Access-Denied</title>

<div th:replace="fragments/head">Head</div>


<body>
<!-- Topbar Start -->
<div th:replace="fragments/Top">Topbar</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="fragments/header">Header</div>
<!-- Navbar End -->


<!-- Error Start -->
<div class="container-fluid">
  <h4 class="display-4 text-center m-3">
    <span class="text-primary">MEOW!!!!</span>  You have no permission to enter this page.
    <br/>
    <img  class="text-center" src="images/access.jpg" alt="access" style="height: 300px; width: 430px"/>
  </h4>

  <h5  class="text-center mt-5">Would you please <a th:href="@{/login}">Login</a> and try again?</h5>
</div>
<!-- Error End -->




<!-- Footer Start -->
<div th:replace="fragments/footer">Footer</div>
<!-- Footer End -->


<div th:replace="fragments/all-scripts">scripts</div>

</body>

</html>