<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments/head">Head</div>

<!-- Topbar Start -->
<div th:replace="fragments/Top">Topbar</div>
<!-- Topbar End -->

<body>



<!-- Navbar Start -->
<div th:replace="fragments/header">Header</div>
<!-- Navbar End -->


<!-- About Start -->
<div th:object="${userDto}" class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">• UserName <span th:text="*{username}"></span></div>
                    <div class="card-text">• Email <span th:text="*{email}"></span></div>
                    <div class="card-text">• Role <span th:text="*{userRole}"></span></div>
                </li>
            </ul>

            <a th:href="@{/user/{id}/edit(id=*{id})}">
                Edit User
            </a>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Footer Start -->
<div th:replace="fragments/footer">Footer</div>
<!-- Footer End -->


<div th:replace="fragments/all-scripts">scripts</div>

</body>

</html>