<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>User Details</title>

<div

        th:object="${userDto}" class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">• UserName: <span th:text="*{username}"></span></div>
                    <div class="card-text">• Email: <span th:text="*{email}"></span></div>
                    <a th:href="@{/makeAdmin/{id}(id=${userDto.id})}" class="btn btn-primary btn-block p-3" style="border-radius: 0;"  >Change Role to ADMIN</a>
                    <br>
                    <a th:href="@{/makeUser/{id}(id=${userDto.id})}" class="btn btn-primary btn-block p-3" style="border-radius: 0;"  >Change Role to USER</a>
                </li>
            </ul>
        </div>
    </div>
</div>
