<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<h1>Welcome to Happy Pets!</h1>
<th:block>Dear User!</th:block>
<p>
    We are happy that you are part of our community now!
</p>
<th:block>Best, Happy Pets team.</th:block>
</body>
</html>